services:
  source_db:
    image: postgres:15
    container_name: source_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: source_db
    ports:
      - "5432:5432"
    volumes:
      - source_db_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    container_name: api
    ports:
      - "8000:8000"
    depends_on:
      - source_db
    environment:
      SOURCE_DB_URL: postgresql://postgres:postgres@source_db:5432/source_db

volumes:
  source_db_data: