services:
  source_db:
    image: postgres:15
    container_name: source_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: source_db
    ports:
      - "5432:5432"
    volumes:
      - source_db_data:/var/lib/postgresql/data

volumes:
  source_db_data: